body {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  line-height: 2;
  margin: 0;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  line-height: 2;
}

h2 {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: lighter;
  font-size: 2.76rem;
  line-height: 2;
}

h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  line-height: 2;
}

a {
  text-decoration: none;
}

hr {
	margin: 10% auto;
	border-color: #120078;
	width: 10%;
	border-width: 10px;
	border-style: dotted none none none;
}


.container-fluid {
  background-color: #fd3a69;
  padding: 0 0 10% 0;
  color: #120078;
}

.top-container {
  padding-top: 3%;
}

.middle-container {

}

.bottom-container {
  background-color: #120078;
  color: rgba(255,255,255,.5);
  text-align: center;
  padding: 5% 0;
}


.map-img {
  width: 90%;
  margin: 5% auto 0 49px;
}


.gate-img {
  width: 80%;
  margin: 5% auto 0 20%;

}

.nav-bar-link {
  color: #fecd1a;
  margin: auto 0.52%;
}

.point {
  width: 50%;
}

.point:hover {
  width: 55%;
}

.point-name {
  margin-bottom: 10%;
}

.japan-flag {

}

.china-flag {

}


.cover-img {
  width: 60%;
  margin: 0 0 0 25%;
}

.link-container {
  background-color: #120078;
}

.navlink {
  color: #fd3a69;
}

.navbrand {
  font-family: 'Press Start 2P', sans-serif;
  color: #fd3a69;
}

.col-lg-6 {
  text-align: left;
}

.col-lg-12 {
  text-align: center;
  margin-bottom: 12%;
}

.row {
  padding: 0 15%;
  margin-right: 0;
}

.bio-btn {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2rem;
  margin-top: 6%;
  background-color: #120078;
  border-color: #120078;
  color: #fd3a69;
}

.bio-btn:hover {
  background-color: #fd3a69;
  border-color: #120078;
  color: #120078;
}

.download-btn {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  background-color: #120078;
  border-color: #120078;
  color: #fd3a69;
  padding: 1% 5%;
}

.download-btn:hover {
  background-color: #fd3a69;
  border-color: #120078;
  color: #120078;
}

.footer-text {
  margin: 0;
}

.choose {
  font-size: 2.3rem;
}

.choose-col {
  text-align: center;
}

.text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.descr {
  margin-bottom: 5%
}
