body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  line-height: 2;
  margin: 0;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  line-height: 2;
}

h2 {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
}

p {
  font-weight: bold;
}

a {
  text-decoration: none;
}

hr {

}


.container-fluid {
  background-color: #fd3a69;
  padding: 0 15% 3% 15%;
  color: #120078;
}

.nav-bar {
  background-color: #120078;
}

.top-container {
  padding-top: 3%;
}

.middle-container {
  background-color: #fd3a69;

}


.map-img {
  margin: auto 0;
}


.samurai-img {
  float: right;
  padding-left: 4.16%;
}

.nav-bar-link {
  color: #fecd1a;
  margin: auto 0.52%;
}

.link-container {
  background-color: #120078;
}

.navlink {
  color: #fd3a69;
}

.navbrand {
  font-family: 'Press Start 2P', sans-serif;
  color: #fd3a69;
}

.col-lg-6 {
  text-align: left;
}

.row {
  padding-left: 6%;
}

.bio-btn {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2rem;
  margin-top: 6%;
}
